<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script>

        var app = angular.module("app", []);
        app.controller("MainController", MainController);

        function MainController($http) {

            // IMPORTANT: REPLACE WITH YOUR OWN FIREBASE URL
            var url = 'https://vivid-fire-7010.firebaseio.com/test';

            var vm = this;
            vm.postData = { yourData: "Type something here!" };
            vm.data = [];
            vm.post = post;
            vm.get = get;
            vm.put = put;
            vm.deleteItem = deleteItem;

            function post() {
                $http.post(url + '.json', vm.postData)
                    .then(function (response) {
                        vm.response = response;
                        var responseKey = response.data.name;
                        vm.data.push({key: responseKey});
                    });
            }

            function get(item) {
                $http.get(url + '/' + item.key + '.json').then(function (response) {
                    item.value = response.data.yourData;
                });
            }
            function put(item) {
                $http.put(url + '/' + item.key + '.json', {'yourData': item.value}).then(function (response) {
                    console.log(response);
                });
            }
            function deleteItem(item) {
                $http.delete(url + '/' + item.key + '.json').then(function(response){
                    if (response.status === 200) {
                        vm.data.splice(getItemNum(item), 1);
                        // toaster message saying item deleted
                    }
                    else {
                        // toaster message saying not deleted, network error
                    }
                })
            }
            function getItemNum(item) {
                for (var i=0; i< vm.data.length; i++) {
                    if (item.key == vm.data[i].key) {
                        return i;
                    }
                }
            }
        }

    </script>
</head>
<body ng-app="app">

    <div ng-controller="MainController as vm">
        <p>
            Type something to POST to your Firebase here:
        </p>
        <input ng-model="vm.postData.yourData" size="40"/>
        <button ng-click="vm.post()">Send POST</button>
        <p>
            You just POSTed to key:
            {{ vm.response.data.name }}
        </p>

        <p>Retrieve data you POSTed earlier with GET:</p>
        <div ng-repeat="item in vm.data">
            <button ng-bind="'Click to GET data from Firebase with key ' + item.key"
                    ng-click="vm.get(item); item.clicked = true"></button>
            <p ng-show="item.clicked">
                The data you POSTed earlier that is associated with this key is:
                <br />
                <input ng-model="item.value">
                <button ng-click="vm.put(item)">Update</button>
                <button ng-click="vm.deleteItem(item)">Delete</button>
            </p>
        </div>
    </div>

</body>
</html>
